<div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
      <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
          <div class="col-lg-6">
            <h1 class="h2 text-uppercase mb-0">Orders</h1>
          </div>
          <div class="col-lg-6 text-lg-right">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Orders</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5">
      <h2 class="h5 text-uppercase mb-4">Order History</h2>
      <div class="row">
        <div class="col-lg-8 mb-4 mb-lg-0">
          <!-- CART TABLE-->
          <div class="table-responsive mb-4">
            <table class="table">
              <thead class="bg-light">
                <tr>
                  <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Product</strong></th>
                  <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Price</strong></th>
                  <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Quantity</strong></th>
                  <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Total</strong></th>
                </tr>
              </thead>
              <tbody>
                <% if(typeof orderitems != 'undefined'){ %>
                  <% orderitems.forEach(function(order){ %>
                    <tr>
                      <th class="pl-0 border-light" scope="row">
                        <div class="media align-items-center"><a class="reset-anchor d-block animsition-link" href="detail.html"><img src="/product-images/<%=order.product %>.jpg" alt="..." width="70"/></a>
                          <div class="media-body ml-3"><strong class="h6"><a class="reset-anchor animsition-link" href="detail.html"><%= order.prodetails[0].name %></a></strong></div>
                        </div>
                      </th>
                      <td class="align-middle border-light">
                        <p class="mb-0 small">$<%= order.amount %></p>
                      </td>
                      <td class="align-middle border-0">
                        <p class="mb-0 small"><%= order.quantity %></p>
                      </td>
                      <td class="align-middle border-light">
                        <p class="mb-0 small">$<%= order.quantity*order.amount %></p>
                      </td>
                    </tr>
                  <% }); %>
                  
                <% } %>
                
              </tbody>
            </table>
          </div>
          <!-- CART NAV-->
          <div class="bg-light px-4 py-3">
            <div class="row align-items-center text-center">
              <div class="col-md-6 mb-3 mb-md-0 text-md-left"><a class="btn btn-link p-0 text-dark btn-sm" href="shop.html"><i class="fas fa-long-arrow-alt-left mr-2"> </i>Continue shopping</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>