<br>
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Orders</li>
        </ol>
    </div>
</div>

<br>
<div class="table-responsive mb-4">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Product</strong></th>
          <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Price</strong></th>
          <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Quantity</strong></th>
          <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Name</strong></th>
          <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Address</strong></th>
          <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Payment</strong></th>
          <th class="border-0" scope="col"> <strong class="text-small text-uppercase">Total</strong></th>
        </tr>
      </thead>
      <tbody>
        <% if(typeof orderitems != 'undefined'){ %>
          <% orderitems.forEach(function(order){ %>
            <tr>
              <th class="pl-0 border-light" scope="row">
                <div class="media align-items-center"><a class="reset-anchor d-block animsition-link" href="detail.html"><img src="/product-images/<%=order.product %>.jpg" alt="..." width="70"/></a>
                  <div class="media-body ml-3"><strong class="h6"><a class="reset-anchor animsition-link" href="detail.html"><%= order.prodetails[0].name %></a></strong></div>
                </div>
              </th>
              <td class="align-middle border-light">
                <p class="mb-0 small">$<%= order.amount %></p>
              </td>
              <td class="align-middle border-0">
                <p class="mb-0 small"><%= order.quantity %></p>
              </td>
              <td class="align-middle border-0">
                <p class="mb-0 small"><%= order.details.name %></p>
              </td>
              <td class="align-middle border-0">
                <p class="mb-0 small"><%= order.details.houseName %></p>
                <p class="mb-0 small"><%= order.details.state %></p>
                <p class="mb-0 small"><%= order.details.country %></p>
                <p class="mb-0 small"><%= order.details.zip %></p>
              </td>
              <td class="align-middle border-0">
                  <% if(order.payment == 'cod' ){ %>
                    <p class="mb-0 small">Cash on Delivery</p>
                  <% } else{ %>
                      <% if(order.status == true){ %>
                        <p class="mb-0 small">Paid </p>
                      <% }else{ %>
                        <p class="mb-0 small">Cash on Delivery </p>
                      <% } %>
                     
                  <% } %>
                
              </td>
              <td class="align-middle border-light">
                <p class="mb-0 small">$<%= order.quantity*order.amount %></p>
              </td>
            </tr>
          <% }); %>
          
        <% } %>
        
      </tbody>
    </table>
  </div>