<br>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Products</li>
</ol>

<table class="table table-bordered" >
    <thead class="thead-dark" >
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Model</th>
            <th>price</th>
            <th>quandity</th>
        </tr>
    </thead>
    <tbody>
        <% if(products != 'undefined' ){ %>
            <% products.forEach(function(product){ %>
                <tr>
                    <th scope='row'>1</th>
                    <td><%= product.name %></td>
                    <td><%= product.brand %></td>
                    <td><%= product.category %></td>
                    <td><%= product.model %></td>
                    <td><%= product.price %></td>
                    <td><%= product.quantity %></td>
                </tr>
            <% }); %>
        <% } %>
    </tbody>
</table>